<!--添加用户模态窗 -->
<div class="modal fade" tabindex="-1"  id="add_group_model" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">添加组</h4>
        </div>

        <div class="modal-body form-inline">
             <form  class="form-horizontal" id = "AddForm">
                <div class="form-group">
                    <label class="control-label">组名：</label>
                    <input type="text" name="name" class="form-control" required="">
                </div>
                <hr>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit_button">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
             </form>
         </div>
    </div>
</div>
</div>
<!--添加用户模态窗结束 -->